{{#> layout }}
<main>
  <h1>{{heading}}</h1>
  <h2>{{description}}</h2>
  <span id="date-published">
    {{#unless published }}
    DRAFT
    {{else}}
    Published on {{date published}}
    {{#if last-edit}} <br>Last edited on {{date last-edit}} {{/if}}
    {{/unless}}
  </span>
  {{{text}}}

  <h3>Posts</h3>
  <ol class="multi-post-list" start="0">
    {{#each posts as |post|}}
    <li class="multi-post-item">
      <a href="{{post.id}}">
        {{#unless post.published}}
        DRAFT
        {{/unless}}
        {{post.heading}}
      </a>
    </li>
    {{/each}}
  </ol>
</main>
<footer>
  {{#if last-edit}}<span>Last edited: {{date last-edit}}{{/if}}
  <p><a class="top" href="#">Top</a></p>
</footer>
{{/layout}}
