<!doctype HTML>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{layout.base-url}}/css/style.css" type="text/css"/>
    <link rel="icon" type="image/png" href="{{layout.base-url}}/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Johannes Huwald">
    <meta name="description" content="{{summary}}">
    <title>{{title}}</title>
  </head>
  <body>
    {{log "layout" level="error"}}
    <nav class="nav">
      <div class="nav-container">
        {{#with layout.website-name}}
        <a href="{{this.target}}" id="nav-title">
          <h2>{{this.title}}</h2>
        </a>
        {{/with}}
        <ul>
          {{#each layout.header as |link| }}
          <li><a href="{{link.target}}">{{link.title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </nav>
    {{> @partial-block}}
  </body>
</html>
