<!doctype HTML>

<html>
  <head>
    <meta charset="utf-8">
    <%= css "style.css" %>
    <%= css "code.css" %>
    <link rel="icon" type="image/png" href="<%= favicon %>">
    <title><%= title %> | Johannes Huwald</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="<%= website.url %>" id="nav-title">
          <h2>Johannes Huwald</h2>
        </a>
        <ul>
          <% website.header do |h| %>
          <li><a href="<%= h.url %>"><%= h.title %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
