{{#> layout }}
<!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '3056968', 'f5c9k3a0h4', 'load');
</script>
<!-- End MailerLite Universal -->
<script type="text/javascript" id="MathJax-script" async
  src="{{layout.base-url}}/js/mathjax/es5/tex-chtml.js"></script>
<main>
  <h1>{{ heading }}</h1>
  <span id="date-published">
    {{#unless published }}
    DRAFT
    {{else}}
    Published on {{date published}}
    {{#if last-edit}} <br>Last edited on {{date last-edit}} {{/if}}
    {{/unless}}
  </span>
  {{{content}}}
  <div class="subscription-box">
    <div class="ml-form-embed"
      data-account="3056968:f5c9k3a0h4"
      data-form="3881860:g0t3t0">
    </div>
  </div>
</main>
<footer>
  <p><a class="top" href="#">Top</a></p>
</footer>
{{/layout}}
